/* Body Styling */

body {
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "moontimeregular", Arial, sans-serif;
  font-size: 50px;
}
h2 {
  font-family: "moontimeregular", Arial, sans-serif;
  font-size: 40px;
}

/* Navbar Styling */
.navbar-brand {
  font-family: "moontimeregular", Arial, sans-serif;
  font-size: 38px;
}

.navbar {
  background-color: #c5dedf;
}

/* Container Reset */
.container {
  margin: 0px;
  padding: 0px;
}

/* Brand Statement Styling */
.watercolor-background {
  background-image: url("watercolor-background-2000.png");
  background-repeat: no-repeat;
}

.brand-text {
  margin-top: 10%;
}

#brand-statement {
  padding-top: 10%;
  padding-bottom: 10%;
  max-width: 60%;
  margin: auto;
  font-size: 24px;
  text-align: center;
}

.btn {
  font-family: "moontimeregular", Arial, sans-serif;
  font-size: 38px;
  background: #648586;
  border-radius: 0;
  width: 180px;
  margin-top: 10%;
}

/* Coding Languages Styling */
.coding-languages {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
}

.coding-icons {
  margin-top: 15%;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
